<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registration Page</title>
<link rel="stylesheet" th:href="@{/css/signUpStyles.css}">
</head>
<body>



	<div class="container">
		<h1>Register</h1>

		<form th:action="@{/register}" method="post" th:object="${user}">
			<label for="name">Name</label> <input type="text" id="name"
				th:field="*{name}" required> <label for="email">Email</label>
			<input type="email" id="email" th:field="*{email}" required>

			<label for="password">Password</label> <input type="password"
				id="password" th:field="*{password}" required>

			<button type="submit">Register</button>
		</form>
		<div class="Box">
			<a th:href="@{/login}">Login</a> <b>|</b> <a th:href="@{/post}">Home</a>
		</div>

	</div>
</body>
</html>
